@import "variables";

button {
  color: $neutral-color;
  cursor: pointer;
  padding: 10px 30px;
  background-color: $highlight-color;
  border-radius: 0;
  border: none;
  box-shadow: 2px 2px 0 $green;

  &:hover {
    padding: 10px 40px;
    box-shadow: 6px 6px 0 $green;
  }
}
