@import "variables";

.footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: end;
  column-gap: 10px;
  align-items: center;
  color: $primary-color;
  font-size: 14px;

  span{
    margin-right: 100px;

    img {
      cursor: pointer;
      width: 25px;
      height: 25px;
      line-height: 25px;
      vertical-align: middle;
      filter: brightness(0.5);

      &:hover {
        filter: drop-shadow(0 0 5px $highlight-color);
      }
    }
  }
}
