@import "variables";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $background-color;
  font-family: 'Source Code Pro', monospace;
  font-size: 62.5%;

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $separator-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b485d0;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $green;
  }
}

h4 {
  max-width: 900px;
  margin: 0 60px;
  font-size: 1.7rem;

  text-transform: uppercase;
  color: $green;

  &::before {
    content: '< ';
  }

  &::after {
    content: ' />';
  }

}
