@media (max-width: 1200px) {

  .content {
    width: 100% !important;
    margin-left: 20px !important;
  }

  .json-container {

    .open-bracket {
      margin-bottom: 20px;
    }

    .close-bracket {
      margin-top: 20px;
    }

    .pair-container {
      flex-direction: column;

      .keys-container {
        flex: auto !important;
        text-align: left !important;
      }

      .values-container {
        flex: auto !important;

        .project-img {
          img {
            width: 400px !important;
          }
        }
      }
    }
  }

  .footer{
    justify-content: center;

    span{
      margin: 10px 0 !important;
    }
  }
}

@media (max-width: 1600px) {
  .right-sidebar {
    display: none;
  }

  .top-bar{
    display: flex !important;
  }

}

@media (max-width: 900px) {

  .gradient {
    opacity: 0.5;
  }

  .json-container {

    .pair-container {
      .values-container {

        .project-img {
          img {
            width: 400px !important;
          }
        }
      }
    }
  }

  .list-separator {

    &:before {
      content: '/* ----------------- separator ----------------- */' !important;
    }
  }
}

@media (max-width: 630px) {

  .top-bar {
    padding: 10px 0 !important;

    .tab {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  }

  .title {
    font-size: 42px !important;
    margin-bottom: 25px !important;
  }

  .json-container {
    margin-left: 20px !important;
    font-size: 14px !important;

    .pair-container {
      .values-container {

        .field {
          input,textarea {
            max-width: 85% !important;
          }

        }

        .project-img {
          img {
            width: 400px !important;
          }
        }
      }
    }
  }

  .footer {
    span {
      padding: 0 20px;
      text-align: center;
    }
  }

  .list-separator {

    &:before {
      content: '/* -- separator -- */' !important;
    }
  }
}

@media (max-width: 400px) {

  .json-container {
    .pair-container {
      .values-container {

        .project-img {
          img {
            width: 300px !important;
          }
        }
      }
    }
  }
}
