@import 'variables';

.top-bar{
  position: sticky;
  top: 0;
  padding: 15px 0;
  display: none;
  justify-content: space-evenly;
  background-color: $background-color;
  z-index: 1;
  border-bottom: 3px solid $green;
  box-shadow: rgba(180, 133, 208, 0.2) 0px 5px;


  .tab {
    display: flex;
    column-gap: 10px;
    font-size: 18px;

    a {
      color: white;
      text-decoration: none;
    }

    &.selected {
      .tab-title {
        a {
          color: $highlight-color;
        }
        font-weight: bold;
      }
    }
  }
}
