@import "variables";
@import "link";
@import "particle_animation";
@import "globals";
@import "json";
@import "bg_animation";
@import "footer";
@import "typewriter";
@import "text_gradient";
@import "right_sidebar";
@import "button";
@import "top_bar";
@import "code_bg";
@import "responsive";


.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  height: 800px;
  overflow: auto;
}

.list-separator {
  color: #5e5f61;

  &:before {
    content: '/* ---------------------------- separator ---------------------------- */';
  }
}

.container {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  .center-content {
    margin-top: 6%;
    display: flex;

    .content {
      flex: 3;
      margin-left: 12%;
      //background-color: #222;
      //box-shadow: #222 -20px -20px 50px, #222 10px 20px 50px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 50px;
    position: relative;
  }

  .json-container {
    margin-left: 50px;
  }

}

