a:hover {
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #b485d0, #b485d0) !important;
  text-shadow: white 1px 0 8px;
}

.code-particle {
  z-index: 0;
  border-radius: 12px;
  height: 20px;
  position: absolute;
  text-align: center;
  opacity: 0;
  animation: moveRight 25s linear infinite, fade 25s linear infinite;
  color: #1e1d1d;
}
.code-particle:nth-child(1) {
  width: 126px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 22px);
  animation-delay: 4453ms;
}
.code-particle:nth-child(1).top {
  top: calc(20% - 269px);
}
.code-particle:nth-child(1).bottom {
  top: calc(100% - 104px);
}
.code-particle:nth-child(2) {
  width: 66px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 68px);
  animation-delay: 644ms;
}
.code-particle:nth-child(2).top {
  top: calc(20% - 59px);
}
.code-particle:nth-child(2).bottom {
  top: calc(100% - 258px);
}
.code-particle:nth-child(3) {
  width: 93px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 275px);
  animation-delay: 3831ms;
}
.code-particle:nth-child(3).top {
  top: calc(20% - 373px);
}
.code-particle:nth-child(3).bottom {
  top: calc(100% - 204px);
}
.code-particle:nth-child(4) {
  width: 68px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 185px);
  animation-delay: 2120ms;
}
.code-particle:nth-child(4).top {
  top: calc(20% - 21px);
}
.code-particle:nth-child(4).bottom {
  top: calc(100% - 32px);
}
.code-particle:nth-child(5) {
  width: 94px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 272px);
  animation-delay: 982ms;
}
.code-particle:nth-child(5).top {
  top: calc(20% - 159px);
}
.code-particle:nth-child(5).bottom {
  top: calc(100% - 263px);
}
.code-particle:nth-child(6) {
  width: 106px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 96px);
  animation-delay: 7529ms;
}
.code-particle:nth-child(6).top {
  top: calc(20% - 176px);
}
.code-particle:nth-child(6).bottom {
  top: calc(100% - 63px);
}
.code-particle:nth-child(7) {
  width: 97px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 57px);
  animation-delay: 4941ms;
}
.code-particle:nth-child(7).top {
  top: calc(20% - 175px);
}
.code-particle:nth-child(7).bottom {
  top: calc(100% - 18px);
}
.code-particle:nth-child(8) {
  width: 112px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 118px);
  animation-delay: 6032ms;
}
.code-particle:nth-child(8).top {
  top: calc(20% - 369px);
}
.code-particle:nth-child(8).bottom {
  top: calc(100% - 199px);
}
.code-particle:nth-child(9) {
  width: 77px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 320px);
  animation-delay: 8424ms;
}
.code-particle:nth-child(9).top {
  top: calc(20% - 370px);
}
.code-particle:nth-child(9).bottom {
  top: calc(100% - 32px);
}
.code-particle:nth-child(10) {
  width: 130px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 316px);
  animation-delay: 6080ms;
}
.code-particle:nth-child(10).top {
  top: calc(20% - 271px);
}
.code-particle:nth-child(10).bottom {
  top: calc(100% - 93px);
}
.code-particle:nth-child(11) {
  width: 135px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 128px);
  animation-delay: 4141ms;
}
.code-particle:nth-child(11).top {
  top: calc(20% - 118px);
}
.code-particle:nth-child(11).bottom {
  top: calc(100% - 151px);
}
.code-particle:nth-child(12) {
  width: 94px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 301px);
  animation-delay: 6279ms;
}
.code-particle:nth-child(12).top {
  top: calc(20% - 34px);
}
.code-particle:nth-child(12).bottom {
  top: calc(100% - 73px);
}
.code-particle:nth-child(13) {
  width: 107px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 299px);
  animation-delay: 8746ms;
}
.code-particle:nth-child(13).top {
  top: calc(20% - 224px);
}
.code-particle:nth-child(13).bottom {
  top: calc(100% - 87px);
}
.code-particle:nth-child(14) {
  width: 95px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 314px);
  animation-delay: 7795ms;
}
.code-particle:nth-child(14).top {
  top: calc(20% - 274px);
}
.code-particle:nth-child(14).bottom {
  top: calc(100% - 93px);
}
.code-particle:nth-child(15) {
  width: 139px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 107px);
  animation-delay: 1518ms;
}
.code-particle:nth-child(15).top {
  top: calc(20% - 261px);
}
.code-particle:nth-child(15).bottom {
  top: calc(100% - 155px);
}
.code-particle:nth-child(16) {
  width: 115px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 146px);
  animation-delay: 2254ms;
}
.code-particle:nth-child(16).top {
  top: calc(20% - 27px);
}
.code-particle:nth-child(16).bottom {
  top: calc(100% - 49px);
}
.code-particle:nth-child(17) {
  width: 118px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 224px);
  animation-delay: 4675ms;
}
.code-particle:nth-child(17).top {
  top: calc(20% - 76px);
}
.code-particle:nth-child(17).bottom {
  top: calc(100% - 277px);
}
.code-particle:nth-child(18) {
  width: 75px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 313px);
  animation-delay: 7381ms;
}
.code-particle:nth-child(18).top {
  top: calc(20% - 49px);
}
.code-particle:nth-child(18).bottom {
  top: calc(100% - 153px);
}
.code-particle:nth-child(19) {
  width: 119px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 153px);
  animation-delay: 7086ms;
}
.code-particle:nth-child(19).top {
  top: calc(20% - 262px);
}
.code-particle:nth-child(19).bottom {
  top: calc(100% - 136px);
}
.code-particle:nth-child(20) {
  width: 126px;
  background-color: rgb(42, 41, 41);
  left: calc(50% - 313px);
  animation-delay: 2740ms;
}
.code-particle:nth-child(20).top {
  top: calc(20% - 24px);
}
.code-particle:nth-child(20).bottom {
  top: calc(100% - 245px);
}

@keyframes moveRight {
  0% {
    left: 10vw;
  }
  50% {
    left: 50vw;
  }
  100% {
    left: 100vw;
  }
}
@keyframes fade {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.4;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.1;
  }
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #151515;
  font-family: "Source Code Pro", monospace;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 5px;
}
body ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
  background: #5e5f61;
}
body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  background: #b485d0;
}
body ::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
  background: #3c9988;
}

/*-------- json --------*/
.json-container {
  margin: 20px;
  padding: 10px;
  color: #B6BBC4;
  font-size: 18px;
  position: relative;
}
.json-container .bracket {
  font-weight: bold;
  font-size: 32px;
  color: #b485d0;
}
.json-container .bracket.open-bracket:after {
  content: "{";
}
.json-container .bracket.close-bracket:after {
  content: "}";
}
.json-container .json-container-footer {
  display: flex;
  max-height: 50px;
  align-items: end;
  justify-content: end;
  padding: 0 70px;
}
.json-container .json-container-footer .read-more:before {
  cursor: pointer;
}
.json-container .properties-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.json-container .properties-container .pair-container {
  display: flex;
  column-gap: 10px;
}
.json-container .properties-container .pair-container .keys-container {
  flex: 0 0 200px;
  text-align: right;
  line-height: 1.8;
  color: #d18a08;
}
.json-container .properties-container .pair-container .values-container {
  text-align: left;
  flex: 0 0 750px;
  line-height: 1.8;
  animation: fade 2s linear;
}
.json-container .properties-container .pair-container .values-container .field input, .json-container .properties-container .pair-container .values-container .field textarea {
  border: 3px solid #b485d0;
  background-color: rgb(42, 41, 41);
  color: #B6BBC4;
  width: 550px;
}
.json-container .properties-container .pair-container .values-container .field input {
  height: 30px;
}
.json-container .properties-container .pair-container .values-container .project-img {
  position: relative;
  height: 200px;
}
.json-container .properties-container .pair-container .values-container .project-img img {
  object-fit: cover;
  height: 200px;
  width: 500px;
  position: absolute;
}
.json-container .properties-container .pair-container .values-container .project-img img.top {
  top: -4px;
  box-shadow: rgba(180, 133, 208, 0.5) 5px 5px, rgba(180, 133, 208, 0.2) 10px 10px, rgba(180, 133, 208, 0.05) 15px 15px;
}
.json-container .properties-container .pair-container .values-container .multiple-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.json-container .properties-container .pair-container .values-container .multiple-images img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: 5px 5px 0 #3c9988;
}
.json-container.compact .properties-container {
  row-gap: 10px;
}
.json-container:hover .bracket {
  text-shadow: #b485d0 1px 0 10px;
}
.json-container:hover .keys-container {
  text-shadow: #d18a08 1px 0 10px;
}

/*-------- json --------*/
@keyframes showRight {
  0% {
    flex: 0 0 0;
  }
  100% {
    flex: 0 0 750px;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
https://codepen.io/Jeromche/pen/KKQrGgP
Blurred animated gradients
Wil van der Tuin
*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gradient {
  position: absolute;
  left: 0;
  --size: 250px;
  --speed: 15s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: 300px;
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsla(158, 82%, 57%, 0.85), hsl(252, 82%, 57%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
body {
  background-color: #222;
  position: absolute;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
}

/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.25s ease-out;
}

.footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: end;
  column-gap: 10px;
  align-items: center;
  color: #B6BBC4;
  font-size: 14px;
}
.footer span {
  margin-right: 100px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #264d79;
  }
}
.text-gradient {
  width: max-content;
  background-image: linear-gradient(45deg, #b485d0, #264d79, #3c9988);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.text-gradient.two-tone {
  background-image: linear-gradient(45deg, #b485d0, #3c9988);
}

.right-sidebar {
  flex: 1;
  border-left: 1px solid #5e5f61;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  justify-content: center;
}
.right-sidebar .section {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 40px;
  column-gap: 20px;
}
.right-sidebar .section .section-icon {
  font-size: 48px;
}
.right-sidebar .section .section-title {
  font-size: 24px;
}
.right-sidebar .section .section-title a {
  color: white;
  text-decoration: none;
}
.right-sidebar .section.selected {
  background-color: #302c32;
}
.right-sidebar .section.selected .section-title {
  font-weight: bold;
}
.right-sidebar .section.selected .section-title a {
  color: #b485d0;
}
.right-sidebar .section:hover {
  padding: 0 20px;
}
.right-sidebar .section:hover .section-icon {
  filter: drop-shadow(2px 2px 0px #3c9988);
}
.right-sidebar .section:hover a {
  text-shadow: 2px 2px 0 #3c9988;
}

button {
  color: rgb(42, 41, 41);
  cursor: pointer;
  padding: 10px 30px;
  background-color: #b485d0;
  border-radius: 0;
  border: none;
  box-shadow: 2px 2px 0 #3c9988;
}

.top-bar {
  position: sticky;
  top: 0;
  padding: 15px 0;
  display: none;
  justify-content: space-evenly;
  background-color: #222;
  z-index: 1;
  border-bottom: 3px solid #3c9988;
  box-shadow: rgba(180, 133, 208, 0.2) 0px 5px;
}
.top-bar .tab {
  display: flex;
  column-gap: 10px;
  font-size: 18px;
}
.top-bar .tab a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .content {
    margin-left: 20px !important;
  }
  .json-container .open-bracket {
    margin-bottom: 20px;
  }
  .json-container .close-bracket {
    margin-top: 20px;
  }
  .json-container .pair-container {
    flex-direction: column;
  }
  .json-container .pair-container .keys-container {
    flex: auto !important;
    text-align: left !important;
  }
  .json-container .pair-container .values-container {
    flex: auto !important;
  }
  .json-container .pair-container .values-container .project-img img {
    width: 400px !important;
  }
  .footer {
    justify-content: center;
  }
  .footer span {
    margin: 10px 0 !important;
  }
}
@media (max-width: 1600px) {
  .right-sidebar {
    display: none;
  }
  .top-bar {
    display: flex !important;
  }
}
@media (max-width: 900px) {
  .gradient {
    opacity: 0.5;
  }
  .json-container .pair-container .values-container .project-img img {
    width: 400px !important;
  }
  .list-separator:before {
    content: "/* ----------------- separator ----------------- */" !important;
  }
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  height: 800px;
  overflow: auto;
}

.list-separator {
  color: #5e5f61;
}
.list-separator:before {
  content: "/* ---------------------------- separator ---------------------------- */";
}

.container {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .center-content {
  margin-top: 5%;
  display: flex;
}
.container .center-content .content {
  flex: 3;
  margin-left: 10%;
}
.container .title {
  font-weight: bold;
  font-size: 72px;
  margin-bottom: 50px;
  position: relative;
}
.container .json-container {
  margin-left: 50px;
}

/*# sourceMappingURL=styles.css.map */
